.about {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
  padding: 5rem 0;
}

.title {
  /* font-size: 3rem; */
}

.content {
  font-size: 1.2rem;
  text-align: justify;
  margin-right: 2rem;
}

.img {
  transition: box-shadow 0.5s ease;
  margin: 0 3rem;
}

.img:hover {
  box-shadow: 15px 15px 0 #fca311, -15px -15px 0 #2c3038;
}

.img div {
  display: inherit !important;
}

.eduAndExp {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
  padding: 0 3rem 5rem 3rem;
}

/* ---------For the timeline ul--------- */
.eduAndExp ul {
  list-style: none;
}
.eduAndExp li {
  position: relative;
  padding: 10px;
}
.eduAndExp li:before {
  content: "";
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: var(--secondary);
  position: absolute;
  left: -15px;
  top: 50%;
  transform: translateY(-40%);
}
.eduAndExp li:after {
  content: "";
  width: 2px;
  height: 120%;
  background: var(--secondary);
  position: absolute;
  left: -8px;
  top: 50%;
}

.eduAndExp li:last-child::after {
  height: 50%;
}
/* ----------End---------- */

.expTitle {
  font-weight: 700;
}

.eduSchool {
  font-weight: 700;
}

.expContent {
  font-size: 0.9rem;
}

.eduContent {
  font-size: 0.9rem;
}

@media screen and (max-width: 800px) {
  .about {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    padding: 2rem 0;
  }

  .content {
    font-size: 1.1rem;
    padding: 1rem 1rem;
    margin: 1rem 1rem;
  }
  .eduAndExp {
    grid-template-columns: 1fr;
    padding: 0 2rem 5rem 2rem;
  }
}

@media screen and (max-width: 600px) {
  .content {
    font-size: 1rem;
  }
}
